DB_URI="mongodb+srv://<user>:<password>@<server>/<db>?authMechanism=SCRAM-SHA-1"
DB_NAME=onboarding
DB_SERVER_NAME=abcd.def.mongodb.net
EMAIL_DOMAIN=dev.vakaconsulting.io
VERIFICATION_URL=https://main--66c0876a279301bd450e1225.chromatic.com/?path=/story/pages-authentication--confirm-email&verification_code=

LOGIN_OPTIONS='{"loginWithUser": false,"loginWithPolicyId": false,"loginWithWallet": false, "register": false, "refreshSession": false}'